name: CD

env:
  AZURE_WEBAPP_NAME: xxxxx
  AZURE_WEBAPP_PACKAGE_PATH: "."

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.16.1

      - name: npm install
        run: npm install

      - name: npm run build
        run: npm run build

      - name: "Run Azure webapp deploy action using publish profile credentials"
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }} 
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/build"
